
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Specialists');"></div>
            <div class="carousel-caption">
                <h1>Reduce costs of finishing operations by 65%</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Wordlwide');"></div>
            <div class="carousel-caption">
                <h1>International Buyer Financing Available</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Since 1910');"></div>
            <div class="carousel-caption">
                <h1>Family Owned for Four Generations</h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i>Share With Your Friends</h3>
                <p>Sharing your plans for the night has never been easier. With a tap of a button you can let your friends see where you are going, so they can decide to tag along. Say goodbye to going out by yourself.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i>Explore New Venues</h3>
                <p>Moon allows you to view the hottest venues in your area. Never find yourself going out to a place where no one is at. Don't want to travel far? With Moon's mapping feature you can find the hottest bars that are closest to you.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i>Get The Deals</h3>
                <p>Tired of paying for overpriced drinks? Well look no further, Moon has you covered by supplying the most popular specials in you area all in one convenient spot.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Moon Nightlife: A Elegant &amp; Simple iOS App</h2>
                <p>An app that helps you plan a complete night out in the city.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sneak Peak of Moon</h2>
                <hr>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive" width="269px" height="555px" src="ScreenShot_Login.png">
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive" width="269px" height="555px" src="NewsFeed.png">
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive" width="269px" height="555px" src="Profile.png">
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive" width="269px" height="555px" src="FriendRequest.png">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Moon's Features Include:</h2>
                <ul>
                    <li>Share with your friends where you are going that night. Personalize your profile to show your favorite drink and bar!</li>
                    <li>See where your friends are going that night (check out Moon's View)</li>
                    <li>See how many people are going to certain night clubs and bars. Search for a bar and checkout its profile to see who is going.</li>
                    <li>See social events in your city</li>
                    <li>See which bars have the best specials that night</li>
                    <li>Check out the top bars that night based on how many people are going</li>
                    <li>Use our specialized map to see which areas of the city are the most popular that night.</li>
                    <li>Moon is currently available in<strong> Dallas</strong></li>
                    <li>If you would like to have Moon available in your city send a request to our support email. If we get 500 requests we will launch in your city.</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" width="512px" height="512px" src="Sticker.png">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">
		<!--
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
        </div> -->
        <!-- /.row -->
	
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">
	<!--
    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
            <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
        </div>
    </div> -->
    <!-- /.row -->

</div>
<!-- /.container -->
